
.calculator-app {
  background: $main-color;
  margin: 0 auto;
  padding: 5px;
  width: 95vw;
  display: flex;
  border-radius: 50px;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: stretch;
  height: 100%;
  margin-bottom: 1vh;
  @media screen and (min-width: 420px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 420px) and (max-width: 580px) {
    width: 80vw;
  }
  @media screen and (min-width: 580px) and (max-width: 768px) {
    width: 70vw;
  }
  @media screen and (min-width: 768px) and (max-width: 900px) {
    width: 60vw;
  }
  @media screen and (min-width: 900px) and (max-width: 1200px) {
    width: 50vw;
  }
  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    width: 40vw;
  }
  @media screen and (min-width: 1600px) {
    width: 30vw;
  }
}
