
.display {
  background: lightgrey;
  display: grid;
  margin-bottom: 0.5vh;
  text-align: end;
  border-radius: $border-radius;
  padding: 8px;
  font-size: 2rem;
  word-break: break-all;
  min-height: 15vh;
  min-width: 0;
  max-width: inherit;
  max-height: 15vh;
  overflow: auto;
  justify-content: flex-end;
  align-items: flex-end;

}

.display-result {
  font-size: 1rem;
  min-width: 0;
  animation: fade 6s ease-in-out 0s;
}

.display-numbers {
  min-width: 0;
}