
.display {
  background: $display-color;
  display: grid;
  margin-bottom: 0.5vh;
  text-align: end;
  border-radius: 45px 45px 0 0;
  padding: 8px;
  font-size: $display-font-size;
  word-break: break-all;
  min-width: 0;
  max-width: inherit;
  min-height: 22vh;
  max-height: 22vh;
  overflow: auto;
  justify-content: flex-end;
  align-items: flex-end;
}
.display::-webkit-scrollbar {
  height: 40px;
}

.display-result {
  font-size: $result-font-size;
  min-width: 0;
}

.display-numbers {
  min-width: 0;
}
