
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  height: 100%;
  width: 100%;
  animation: fade-in 1.5s ease-in;
  font-size: 16px;
  background: $background-color;
}

body {
  font-family: Helvetica;
  height: 100%;
}

button {
  padding: 0.2em;
  background: $button-color;
  border-radius: $border-radius;
  color: $button-text-color;
  border-style: none;
  transition: all 0.3s ease 0s;
  font-size: $font-size-m;
  font-weight: 300;
}

button:hover {
  box-shadow: 1px 1px 10px #A5A5A5;
  cursor: pointer;
  transform: translateX(-1px);
  background: darken($button-color, 20%);
  color: lighten($button-text-color, 50%);
}

@media screen and (min-width: 420px) {
  .footer {
    height: 10px;
  }
}